@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: powderblue;
  color: white;
  font-family: "Poppins", sans-serif;
}
body img{
  overflow:hidden;
  background-size: cover;
  height: auto;
  width: 100%;
}
header a {
  text-decoration: none;
}

header {
  padding: 0 20px;
  background-color: black;
  height: 50px;
  display: flex;
  justify-content: space-between;
}

#brand {
  font-weight: bold;
  font-size: 18px;
  display: flex;
  align-items: center;
}

#brand img {
  height: 50px;
  width: 50px;
  margin: 0;
  padding: 0;
}

#brand p {
  font-size: medium;
  padding-left: 15px;
}

ul {
  list-style: none;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

ul a {
  color: white;
}

.home img{
  align-items: center;
  height: 700px;
  width: 1550px;
}

.home b{
  padding: 300px;
  font-style: italic;
  color: black;
  text-align: center;
  font-size: larger;
}
.home b p{
  padding: auto;
  font-style: italic;
  color: navy;
  text-align: center;
  font-size: larger;
}
.about h2{
  color: black;
  font-style: italic;
}
.container {
  display: flex;
  align-items: center;
  justify-content: center
}
.image img {
  height: 400px;
  width: 700px;
}
.image {
  flex-basis: 40%
}
.text {
  color: black;
  font-size: 20px;
  padding-left: 20px;
}
.contact footer{
  background-color: black;
  height: 100px;
}
.contact footer h4{
  color: aliceblue;
}
ul li {
  padding: 5px;
  margin-left: 10px;
}

ul li:hover {
  transform: scale(1.1);
  transition: 0.3s;
}

#login,
#signup {
  border-radius: 5px;
  padding: 5px 8px;
}

#login {
  border: 1px solid #498afb;
}

#signup {
  border: 1px solid #ff3860;
}

#signup a {
  color: #ff3860;
}

#login a {
  color: #498afb;
}

#hamburger-icon {
  margin: auto 0;
  display: none;
  cursor: pointer;
}

#hamburger-icon div {
  width: 35px;
  height: 3px;
  background-color: white;
  margin: 6px 0;
  transition: 0.4s;
}

.open .bar1 {
  -webkit-transform: rotate(-45deg) translate(-6px, 6px);
  transform: rotate(-45deg) translate(-6px, 6px);
}

.open .bar2 {
  opacity: 0;
}

.open .bar3 {
  -webkit-transform: rotate(45deg) translate(-6px, -8px);
  transform: rotate(45deg) translate(-6px, -8px);
}

.open .mobile-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.mobile-menu {
  display: none;
  position: absolute;
  background-color: black;
  top: 50px;
  left: 0;
  height: calc(100vh - 50px);
  width: 100%;
}

.mobile-menu li {
  margin-bottom: 10px;
}

@media only screen and (max-width: 600px) {
  header nav {
    display: none;
  }
  #hamburger-icon {
    display: block;
  }
}
