@import url("https://fonts.google.com/share?selection.family=Roboto");
*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto';
}
body{
    background-color: white;
}
nav{
    
    background-color: black;
    height: 75px;
}
nav img{
    height: 75px;
    width: 75px;
}
ul{
    float: right;
}
ul a{
    font-size: large;
    color: white;
}
.Home{
    text-align: center;
    font-style: italic;
    font-size: larger;
}
#hamburger-icon {
    margin: auto 0;
    display: none;
    cursor: pointer;
  }
  
  #hamburger-icon div {
    width: 35px;
    height: 3px;
    background-color: white;
    margin: 6px 0;
    transition: 0.4s;
  }
  
  .open .bar1 {
    -webkit-transform: rotate(-45deg) translate(-6px, 6px);
    transform: rotate(-45deg) translate(-6px, 6px);
  }
  
  .open .bar2 {
    opacity: 0;
  }
  
  .open .bar3 {
    -webkit-transform: rotate(45deg) translate(-6px, -8px);
    transform: rotate(45deg) translate(-6px, -8px);
  }
  
  .open .mobile-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
  }
  
  .mobile-menu {
    display: none;
    position: absolute;
    top: 50px;
    left: 0;
    height: calc(100vh - 50px);
    width: 100%;
  }
  
  .mobile-menu li {
    margin-bottom: 10px;
  }
  
  @media only screen and (max-width: 600px) {
    #hamburger-icon {
      display: block;
    }
}

